<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pagos_Internos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pagos_Internos.My.MySettings>
            <setting name="UltPagoGuard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantTar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantFuen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantFan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantMant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalTarj" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalFuen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalFan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalMant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FechaPago" serializeAs="String">
                <value />
            </setting>
            <setting name="FUltPagoGuard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FCantTar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FCantFuen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FCantFan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FCantMant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FTotalTarj" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FTotalFuen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FTotalFan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FTotalMant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FFechaPago" serializeAs="String">
                <value />
            </setting>
        </Pagos_Internos.My.MySettings>
    </userSettings>
</configuration>
